[Unit]
Description=Deadman switch server
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/var/lib/deadman-switch
Type=simple
Restart=always
RestartSec=1
User=deadman
ExecStart=/usr/bin/env deadman-server run

[Install]
WantedBy=multi-user.target
